.containerWrap {
    flex: 1;
    overflow: hidden;
}

.logWrap {
    flex: 1;
    overflow: hidden;
}

.controllersWrap{
    height: 60px;
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    .row {
        padding-right: 30px;
    }
}

.onlines {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
}
